<body id="student-all">

  <section class="container">
    <div class="content row">

    <section class="main col col-lg-9">



      <div id="students-demographics-list">

        <%= render 'students_demographics_list' %>

      </div>



    </section> <!-- main col col-lg-6 -->

    <section class="sidebar col col-lg-3">
      <h2> Side Bar </h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate ele</p>

    </section> <!-- right sidebar -->
  </div>  <!-- content -->
</section> <!-- container -->

</body>