
      <div class="login-actions">

        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4">
          <label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
        </span>

        <button class="login-action btn btn-primary">Register</button>

      </div> <!-- .actions -->