<div id="main">


     <div id ="content">  <div id="sub-content">
      <img  alt="weintervene" src="http://test.weintervene.com/assets/img/capture9.png">
    </div>

    <div>

       <p> Welcome, please signup or login to access material. </p>


    <%= link_to 'Signup ', new_user_path %>
    <%= link_to 'Login', login_path %>
  </div>
</div>


