<body id="student-all">

</div>
<section class="container">
  <div class="content row">

   <section class="left-sidebar col col-lg-2">
    <h2> Inner left Side Bar </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, libero tempore iure quas eum sed nihil error similique. Est, nam, nesciunt unde quaerat aut expedita enim quasi! Facilis, quasi, asperiores.</p>
  </section> <!-- left-sidebar col col-lg-2 -->

  <section class="main col col-lg-7">

    Show page for a Referral.

 </section> <!-- main col col-lg-6 -->

 <section class="sidebar col col-lg-3">
  <h2> Side Bar </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, libero tempore iure quas eum sed nihil error similique. Est, nam, nesciunt unde quaerat aut expedita enim quasi! Facilis, quasi, asperiores.</p>

</section> <!-- right sidebar -->
</div>  <!-- content -->
</section> <!-- container -->

</body>

