
<body id="service-provider-all">

  <section class="container">
    <div class="content row">

     <section class="left-sidebar col col-lg-2">
      <h2> Search Here</h2>

    </section> <!-- left-sidebar col col-lg-2 -->

    <section class="main col col-lg-7">

      <div id="service-providers-list">

        <%= render 'service_providers_list' %>

      </div>
    </section> <!-- main col col-lg-6 -->

    <section class="sidebar col col-lg-3">
      <h2> Side Bar </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, libero tempore iure quas eum sed nihil error similique. Est, nam, nesciunt unde quaerat aut expedita enim quasi! Facilis, quasi, asperiores.</p>

    </section> <!-- right sidebar -->
  </div>  <!-- content -->
</section> <!-- container -->

</body>

