
<body id="service-provider">



<%= link_to("<<Back to List", {:action => 'index'}, :class => 'back-link') %>

<h2> <%= @service_provider.name  %></h2>

<h3> Mission</h3>
<%= @service_provider.mission %>

</body>
