<body id="incident-log-all">


  <section class="container">
    <div class="content row">
      <input type="text" name="search" placeholder="Search"/>
      <input type="submit" value="Search"/>
    </div>
    <section class="main col col-lg-9">

      <div id="incident-log-list">


        <h2> Your incidents: </h2>
        <div class="incident-logs">

         <table class="table table-striped">
          <tr>
            <th> Date</th>
            <th> Student</th>
            <th> Comment</th>
            <th> Infractions </th>
            <th> Action </th>
          </tr>

          <% @incident_logs.each do |incident_log|  %>
          <tr>

            <td><%= incident_log.student.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= incident_log.student.full_name %></td>
            <td><%= incident_log.comment.capitalize %></td>
            <td><%= incident_log.infractions[0].code%></td>
            <td> <button class="btn btn-xs btn-primary"> Make Referral </button>  </td>

          </tr>
          <%end %>
        </table>
        <div>


        </div>
      </section> <!-- main col col-lg-6 -->

      <section class="sidebar col col-lg-3">
        <h2> Filter</h2>
        <ul>
          <li> Infractions</li>
        </ul>
      </section> <!-- right sidebar -->
    </div>  <!-- content -->
  </section> <!-- container -->



</body>